@using Azure.Core
@model MantenimientoBolsaViewModel

@{
    ViewData["Title"] = "Reporte de Bolsa";
}

<div class="container-fluid my-4">
    <h1 class="mb-4 text-center">Reportes de Recursos Humanos</h1>
    <main id="reporteCompleto">
        <div class="border shadow gap-3 mb-4 p-4 text-center">
            <!-- Filtros -->
            <form method="get" asp-action="ReportesB">
                <h3>Filtros</h3>
                <section class="d-flex justify-content-around g-5">
                    <div class="flex-grow-1 mx-3">
                        <div>
                            <label class="lead">Fecha de Nacimiento</label><br />
                            <label for="startDate" class="text-muted">Desde</label>
                            <input type="date" id="startDate" name="startDate" class="form-control mt-2">
                        </div>
                        <div>
                            <label for="endDate" class="text-muted">Hasta</label>
                            <input type="date" id="endDate" name="endDate" class="form-control mt-2">
                        </div>
                    </div>
                    <div class="flex-grow-1 mx-3">
                        <label class="lead">Fecha de Ingreso</label>
                        <div>
                            <label for="startIngreso" class="text-muted">Desde</label>
                            <input type="date" id="startIngreso" name="startIngreso" class="form-control mt-2">
                        </div>
                        <div>
                            <label for="endIngreso" class="text-muted">Hasta</label>
                            <input type="date" id="endIngreso" name="endIngreso" class="form-control mt-2">
                        </div>
                    </div>
                    <div class="flex-grow-1 mx-3">
                            <label asp-for="Sexo" class="lead"></label><br />
                        <label for="startIngreso" class="text-muted">Seleccione</label>
                        <select asp-for="Sexo" class="form-control mt-2" asp-items="Model.Sexos">
                                <option value="">Sexo</option>
                            </select>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="flex-grow-1 mx-3">
                            <label asp-for="Perfil" class="lead"></label><br />
                            <label for="startIngreso" class="text-muted">Seleccione</label>
                        <select asp-for="Perfil" class="form-control mt-2" asp-items="Model.Perfiles">
                                <option value="">Perfil</option>
                            </select>
                            <span asp-validation-for="Perfil" class="text-danger"></span>
                    </div>
                    <div class="flex-grow-1 mx-3">
                        <label asp-for="Nacionalidad" class="lead"></label><br />
                        <label for="startIngreso" class="text-muted">Seleccione</label>
                        <select asp-for="Nacionalidad" class="form-control mt-2" asp-items="Model.Nacionalidades">
                            <option value="">Nacionalidad</option>
                        </select>
                        <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                    </div>
                </section>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary" style="width: 200px">Filtrar</button>
                </div>
            </form>
            <button id="exportarPDF" class="btn btn-outline-secondary mt-2" style="width: 200px">Exportar a PDF</button>
                
            
        </div>

        <div class="col table-responsive" id="contenidoPDF">
            <table class="table table-bordered table-hover">
                <thead class="text-center text-white bg-gradient" style="background-color: #133E87">
                    <tr>
                        <th>Clave</th>
                        <th>Nombre</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Correo</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vacante in Model.Vacantes)
                    {
                        <tr class="table-info">
                            <td class="text-center">@vacante.Clave</td>
                            <td class="text-center">@vacante.Nombre</td>
                            <td class="text-center">@vacante.APaterno</td>
                            <td class="text-center">@vacante.AMaterno</td>
                            <td class="text-center">@vacante.Correo</td>
                            <td class="text-center">@vacante.Observaciones</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script>
        document.getElementById("exportarPDF").addEventListener("click", function () {
            const reporteCompleto = document.getElementById("reporteCompleto");

            const options = {
                margin: 1,
                filename: 'Reporte_Bolsa_Trabajo.pdf',
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'cm', format: 'a4', orientation: 'landscape' }
            };

            html2pdf().set(options).from(reporteCompleto).save();
        });
    </script>

}
