@{
    ViewData["Title"] = "Menu de Catálogos";
}
<div  style="background-color: #133E87;">
    <h1 style="text-align: center" class="moving-text pb-2 text-white">Catálogos</h1>
    <h5 class="text-center text-white pb-3 moving-text">El espacio en donde podras dirigirte a cualquier catálogo de tu empresa</h5>
</div>


<div class="contenedorCatalogos py-5">
    <a href="@Url.Action("Crear", "Perfil")">
        <div class="card my-card shadow rounded card1" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Perfiles</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Curso")">
        <div class="card my-card shadow rounded card2" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Cursos</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Departamento")">
        <div class="card my-card shadow rounded card3" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Departamentos</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Documento")">
        <div class="card my-card shadow rounded card4" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Documentos</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Escolaridad")">
        <div class="card my-card shadow rounded card5" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Escolaridades</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "EstadoCivil")">
        <div class="card my-card shadow rounded card6" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Estado Civil</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Experiencia")">
        <div class="card my-card shadow rounded card7" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Experiencia</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Nacionalidad")">
        <div class="card my-card shadow rounded card8" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Nacionalidades</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Puesto")">
        <div class="card my-card shadow rounded card9" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Puestos</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Crear", "Sexo")">
        <div class="card my-card shadow rounded card10" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Sexo</p>
            </div>
        </div>
    </a>

</div>
